header
  nav#header-menu
    padding: 0.75em 0
    background: url(/images/eoraptor/header-background.png) center center repeat-x
    +box-shadow(#000, 0, 0, 0.5em)
    +linear-gradient(color-stops(#222, #444), bottom)
  
    ul
      width: 960px
      text-align: center
      margin: 0 auto
      padding: 0
      li
        margin: 0
        list-style: none
        display: inline
        a
          text-transform: lowercase
          font-size: 1.1em
          margin: 0 1em
          color: white
          font-weight: bold
          +text-shadow(2px, 2px, 0, #000)
          &:hover
            text-decoration: none
            color: #B23430
  
  h1
    margin: 0 0 0.5em
    padding: 1em 0 0
    text-align: center
    a
      display: block
      text-indent: -1000em
      width: 433px
      height: 151px
      margin: 0 auto
      background: url(/images/eoraptor/blog-logo.png) center center no-repeat
      