#tweet-container
  %span#tweet-text &nbsp;
  %span.tweet-misc posted
  %span#tweet-when &nbsp;
#tweet-author
  Use #{link_to 'Twitter', 'http://twitter.com/'}? Follow #{link_to "@test-user", "#", :class => 'twitter-author-name'} on Twitter.