---
default:
  secret_token: "your-long-secret-token"
  time_zone: "UTC"
  author_name: Your Name
  twitter:
    user: "your-twitter-name"
production:
  failtale:
    api_key: "something"
  disqus:
    site: site-name
development:
  disqus:
    site: site-name
