---
default:
  secret_token: "<%= ENV['EORAPTOR_SECRET_TOKEN'] %>"
  devise:
    pepper: "<%= ENV['EORAPTOR_DEVISE_PEPPER'] %>"
  time_zone: "UTC"
  author_name: Your Name
  twitter:
    user: "your-twitter-name"
production:
  failtale:
    api_key: "something"
  disqus:
    site: site-name
development:
  disqus:
    site: site-name
